html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.mudarcorDoTitulo{
color:blue;


}
.mudarCorDoCreateNew {
    position: relative;
    top: 50px;
    color: darkgreen;
    text-decoration: none;
}
.table{
    position:relative;
    top:50px;
}
.mudarCorAcoes {
    position: relative;
    text-decoration: none;
    color: green;
}
.mudarCordelete{
    color:red;
    text-decoration:none;
}
